.jumbotron {
  background: url('Background.jpg') no-repeat center center;
  background-origin: border-box;
  background-size: cover;
  background-color: transparent !important;
  color: #FFFFFF;
  padding-top: 10%;
  padding-bottom: 10%;
}

.navbar {
margin-bottom: 0;
color:#FFFFFF;
position: fixed;
width:100%;
background:rgba(0,0,0,0.8);   /* for latest browsers */


}

li{
  font-size: 20px;
}

li,h1,h3, p, button{
  font-family: 'Abel', sans-serif;
}

h2{
  font-family: 'Bitter', serif;
}
